# Node.js 관련
node_modules/
npm-debug.log
yarn-error.log

# 빌드 결과물
dist/
build/

# IDE 관련 파일
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 환경 변수 파일
.env

# OS 관련 파일
.DS_Store
Thumbs.db

# 로그 파일
logs/
*.log

# 패키지 관련
package-lock.json
yarn.lock